@font-face {
  font-family: "Gotham";
  src: url("../../Assets/fonts/Gotham-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../../Assets/fonts/Gotham-Thin.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
