$base-main-hemocyanin: #180048;
$base-dark-siphon: #100030;

$primary-main-soholights: #f050f8;
$primary-light-akoya: #fa98ff;
$primary-dark-plum: #600e6b;
$primary-intense-bubblegum: #ff2ffb;

$secondary-main-ink: #5840ff;
$secondary-light-bluetang: #6675f6;
$secondary-dark-blueberry: #2d1a83;

$tertiary-main-voltage: #60f0f8;
$tertiary-main-light-aquamarine: #bdf2ff;

$text-main-ice: #f0ffff;
$text-light-dustysky: #d9ddff;
$text-dark-purplehaze: #a49fc8;

$action-success-green: #18f0b8;
$action-error-red: #ff3e68;
$action-warning-orange: #ffa26b;

$tablet-breakpoint: 768px;
