@use "./Styles/partials/mixins" as *;
@use "./Styles/partials/variables" as *;

.app {
  background-color: $secondary-dark-blueberry;
  &__header-component {
    margin: 0.8rem;
  }

  &__main-display {
    margin: 0.8rem;
  }

  &__impossible-graph {
    margin: 0.8rem;
  }

  &__title-container {
    display: flex;
    justify-content: center;
    background-color: $base-dark-siphon;
    padding: 1.2rem;
  }

  &__heading {
    color: $primary-intense-bubblegum;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
